@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
  font-family: 'MyFont';
  src: url('/src/assets/fonts/Samim-Bold-FD-WOL.woff') format('woff2');
}


body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
